<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMBRAPA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
</head>
<body>
    <header>
        <h1 class="header-h1">Embrapa</h1>
        <div class="header-links">
            <a class="header-links-link" href="{{ url_for('index')}}"> HOME </a>
            <a class="header-links-link" href="{{ url_for('producao')}}"> PRODUÇÃO </a>
            <a class="header-links-link" href="{{ url_for('comercializacao')}}"> COMERCIALIZAÇÃO </a>
        </div>
        <a class="header-login" href="{{ url_for('login')}}">LOGIN</a>
    </header>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %} 
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {%block conteudo%} {%endblock%}

</body>
</html>
