<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMBRAPA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
</head>
<body>
    <header>
        <h1 class="hearder-h1">{{titulo}}</h1>
        <div class="header-links">
            <a class="header-links-link" href="{{ url_for('index')}}"> HOME </a>
            <a class="header-links-link" href="{{ url_for('producao')}}"> PRODUÇÃO </a>
            <a class="header-links-link" href="{{ url_for('comercializacao')}}"> COMERCIALIZAÇÃO </a>
        </div>
    </header>


    {%block conteudo%} {%endblock%}

</body>
</html>