{%extends 'partials/_head.html'%}
{%block conteudo%}

    <!-- Formulário para escolher o ano -->
    <form method="post" action="{{url_for('comercializacao')}}">
        {{ form.hidden_tag() }}
        <h1>{{nome}}</h1>
        <div>
            {{ form.ano2022.label(class='form-label') }}
            {{form.ano2022(class='form-control')}}
        </div>
        <div>
            {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
    
    <!-- Se houver dados para exibir, renderiza o HTML do DataFrame -->
    <div class="table">
        {% if table %}
        <h2 class="table-h2">Dados de {{nome}} para o ano {{ user_year }}:</h2>
        {{ table | safe }}
        {% endif %}
    </div>
{%endblock%}