{%extends 'partials/_head.html'%}
{%block conteudo%}
    <!-- Formulário para escolher o ano -->
    <form method="post">
        <label for="ano">Escolha o ano (1970-2022):</label>
        <input type="number" id="ano" name="ano" min="1970" max="2022" required>
        <button type="submit">Buscar</button>
    </form>
    
    <!-- Se houver dados para exibir, renderiza o HTML do DataFrame -->
    {% if table %}
    <h2>Dados para o ano {{ user_year }}:</h2>
    {{ table | safe }}
    {% endif %}
{%endblock%}