{%extends 'partials/_head.html'%}
{%block conteudo%}

    <form method="POST" action="{{ url_for('autenticar') }}">
        <input type="hidden" name="proxima" value="{{ proxima }}">
        {{ form.csrf_token() }}
        <h1>Login</h1>
        <div>
            {{ form.nickname.label(class='form-label') }}
            {{ form.nickname(class='form-control') }}
        </div>
        <div>
            {{ form.senha.label(class='form-label') }}
            {{ form.senha(class='form-control') }}
        </div>
        <div>
            {{ form.login(class="btn btn-primary") }}
        </div>
    </form>
{%endblock%}