{%extends 'partials/_head.html'%}
{%block conteudo%}

<!-- Formulário para escolher o ano -->
<form method="post">
    {{ form.hidden_tag() }}
    <h1>{{nome}}</h1>
    <!-- <label for="opcao">Escolha a opção:</label>
        <select id="opcao" name="opcao" required>
            <option value="viniferas">Viníferas</option>
            <option value="americanas_hibridas">Americanas e Híbridas</option>
            <option value="uvas_mesa">Uvas de Mesa</option>
            <option value="sem_classificacao">Sem Classificação</option>
        </select> -->
    <div>
        {{ form.ano2023.label(class='form-label') }}
        {{ form.ano2023(class='form-control') }}
    </div>
    <div>
        {{form.submit(class="btn btn-primary")}}
    </div>
</form>

<!-- Se houver dados para exibir, renderiza o HTML do DataFrame -->
<div class="table">
    {% if table %}
    <h2 class="table-h2">Dados de {{nome}} para o ano {{ user_year }}:</h2>
    {{ table | safe }}
    {% endif %}
</div>
{%endblock%}