{%extends 'partials/_head.html'%}
{%block conteudo%}

    <form method="post" action="{{ url_for('register') }}" class="register-form">
        {{ form.csrf_token() }}
        <h1 class="register-title">{{titulo}}</h1>

        <div>
            {{ form.nome.label(class='form-label') }}
            {{ form.nome(class='form-control') }}
        </div>

        <div>
            {{ form.nickname.label(class='form-label') }}
            {{ form.nickname(class='form-control') }}
        </div>

        <div>
            {{ form.senha1.label(class='form-label') }}
            {{ form.senha1(class='form-control') }}
        </div>
        <div>
            {{ form.senha2.label(class='form-label') }}
            {{ form.senha2(class='form-control') }}
        </div>
        <div>
            {{ form.registrar(class="btn btn-primary") }}
        </div>
        
    </form>
{%endblock%}